<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Simtec Staff Tools</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='hub.css') }}?v=1.0.7">
</head>
<body>
  <h1>Simtec Staff Tools</h1>
  <div class="hub-container">
    <a href="/member-tracking" class="hub-button">🧑‍💼 Claim Member Perks</a>
    <a href="/hourlog" class="hub-button">⏱ Staff Hours Log</a>
    <a href="/tabs" class="hub-button">💷 Customer Tabs <small>(work in progress)</small></a>
    <a href="/stock" class="hub-button">📦 Stock Levels <small>(work in progress)</small></a>
    <a href="https://support.trackmangolf.com/hc/en-us/articles/10494733056155-Help-Center-Trackman-Support-Contact-Numbers" class="hub-button">📞 Trackman Support</a>
    <a href="https://simtecgolf.co.uk" class="hub-button">🚩 Simtec Website</a>
    <a href="#" class="hub-button" style="opacity: 0.5; pointer-events: none;">✆ Business Whatsapp <small>(Coming Soon)</small></a>
    <a href="#" class="hub-button" style="opacity: 0.5; pointer-events: none;">📊 Tabs/Stock Counts <small>(Coming Soon)</small></a>
    <!-- <a href="#" class="hub-button" style="opacity: 0.5; pointer-events: none;">🏒 Contact/website details for ordering stock(upstairs) (Coming Soon)</a> -->
  </div>
  
  <div class="iframe-container">
    {% set modal_id = "loadingOverlay" %}
{% include "_modal.html" %}
  </div>

  <div class="blob-container">
    <div class="blob cream"></div>
    <div class="blob green"></div>
    <div class="blob cream"></div>
    <div class="blob green"></div>
    <div class="blob cream"></div>
    <div class="blob green"></div>
    <div class="blob cream"></div>
    <div class="blob green"></div>
    <div class="blob cream"></div>
    <div class="blob green"></div>
  </div>

  <script src="{{ url_for('static', filename='hub.js') }}?v=1.0.7"></script>
</body>
</html>
